@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rye&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 50px;
  color: #eea873;
  font-family: 'Rye', cursive;
  font-weight: 400;
}